<div class="card"> <!-- todo all styling inside of css. style="width: 18rem; padding: 1rem"-->
  <!--<img class="card-img-top" src="..." alt="Card image cap">-->
  <div fxLayout="row" style="justify-content: space-between">
    <a [routerLink]="['/securityDetails', security.id]">
      <h5 class="card-title">{{security.securityName}}</h5>
    </a>
    <button type="button" class="btn btn-danger btn-sm" style="height: 80%;" (click)="deleteSecurity(security.id)">x</button>
  </div>

  <div class="card-body">
    <ul class="card-text">
      <li class="list-group-item">{{security.isin}}</li>
      <li class="list-group-item">{{security.country}}</li>
      <li class="btn btn-sm btn-info">+</li>
    </ul>
  </div>
</div>
